---
import { Text } from "../components";
import Container from "./Container.astro";

const title = "About Us";
const description =
  "We saw the need for a data-driven, innovative marketing approach, inspiring the birth of Toggle. We're on a mission to empower businesses to conquer their goals with effective digital strategies. Join us on this exciting journey of growth and success!";
---

<Container>
  <div class="px-4 mx-auto sm:px-6 lg:px-8 max-w-3xl text-center">
    <Text variant="h2">{title}</Text>
    <Text variant="p" color="secondary" className="mt-4">
      {description}
    </Text>
  </div>
</Container>
