---
import { Text } from "../components";
import Container from "./Container.astro";
import Card from "./Card.astro";

const title = "We scale brands";

const description =
  "Partner with Toggle for data-driven marketing strategies, propelling businesses towards exponential growth and success.";

const stats = [
  {
    number: "$44M",
    description: "Revenue Generated",
  },
  {
    number: "230%",
    description: "Average yearly growth",
  },
  {
    number: "90%",
    description: "Increase in ROAS",
  },
];
---

<Container>
  <div class="px-4 sm:px-6 lg:px-8 text-center">
    <div class="max-w-5xl mx-auto">
      <div class="max-w-3xl mx-auto">
        <div>
          <Text variant="h2">{title}</Text>
        </div>
        <Text variant="p" color="secondary" className="mt-4">
          {description}
        </Text>
      </div>
      <div class="mt-4 sm:mt-8">
        <div
          class="grid grid-cols-1 lg:grid-cols-3 gap-8 items-center justify-center"
        >
          {
            stats.map((stat) => (
              <div data-aos="fade-up">
                <Card className="p-8">
                  <Text variant="h2">{stat.number}</Text>
                  <Text variant="p" className="pt-2" color="secondary">
                    {stat.description}
                  </Text>
                </Card>
              </div>
            ))
          }
        </div>
      </div>
    </div>
  </div>
</Container>
