---
import { twMerge } from "tailwind-merge";
const { className } = Astro.props;
---

<div
  class={twMerge(
    "animate relative p-5 overflow-hidden bg-white border border-gray-200 rounded-2xl",
    className
  )}
>
  <slot />
</div>
