---
import { Button, Text } from "../components";
import Container from "./Container.astro";

const description =
  "Unlock Your Business Potential with Expertly Crafted Strategies and Insights";
const button_text = "Start Now";
---

<Container>
  <div class="px-4 mx-auto max-w-7xl sm:px-6 lg:px-8 relative z-20">
    <div class="max-w-md mx-auto text-center">
      <Text variant="h2">Data-Driven <br />Marketing Mastery</Text>
      <Text variant="p" color="secondary" className="mt-5">
        {description}
      </Text>
      <Button className="mt-8">{button_text}</Button>
    </div>
  </div>
</Container>
