---
import { Button, Text } from "../components";

const description =
  "Join Toggle on our mission to empower businesses with data-driven marketing strategies for success!";
---

<div class="flex-grow">
  <section class="py-32">
    <div class="max-w-2xl mx-auto text-center px-4 sm:px-6 lg:px-8">
      <Text variant="h1" color="primary">
        Elevate Your Brand's <br />Digital Journey
      </Text>
      <Text variant="p" color="secondary" className="mt-4">
        {description}
      </Text>
      <Button className="mt-8">Get your Quote</Button>
    </div>
  </section>
</div>
