---
import { Button, Text } from "../components";

const description =
  "Join Toggle on our mission to empower businesses with data-driven marketing strategies for success!";
---

<section class="relative py-24 sm:mt-12">
  <div class="px-4 mx-auto max-w-7xl sm:px-6 lg:px-8 relative z-20">
    <div class="max-w-2xl mx-auto text-center">
      <Text variant="h1">Elevate Your Brand's <br />Digital Journey</Text>
      <Text variant="p" color="secondary" className="mt-5">
        {description}
      </Text>
      <Button className="mt-8">Get your Quote</Button>
    </div>
  </div>
</section>
