---
import { Button, Text } from "../components";

const description =
  "Join Toggle on our mission to empower businesses with data-driven marketing strategies for success!";
---

<section class="relative py-40 sm:mt-12">
  <div class="px-4 max-w-3xl mx-auto sm:px-6 lg:px-8">
    <div class="text-center">
      <Text variant="h1">
        Elevate Your Brand's <br />Digital Journey
      </Text>
      <Text
        variant="h3"
        color="secondary"
        className="mt-4 sm:mt-8 mx-auto font-normal font-sans"
      >
        {description}
      </Text>
      <Button className="mt-4 sm:mt-8">Get your Quote</Button>
    </div>
  </div>
</section>
