---
import { Text } from "../components";
---

<nav class="nav p-5">
  <div class="flex justify-between max-w-3xl mx-auto">
    <Text variant="h3">Logo</Text>
    <div class="flex justify-end items-center gap-5">
      <a href="#" class="link no-underline text-sm">Get Started</a>
    </div>
  </div>
</nav>
