---
import { Button, Text } from "../components";
---

<nav class="nav p-5">
  <div class="flex justify-between">
    <Text variant="h3">Logo</Text>
    <div class="flex justify-end items-center gap-5">
      <Button variant="secondary" size="sm">Get a quote</Button>
    </div>
  </div>
</nav>
